<ion-modal-viewn class='modal_full_screen'>
  <ion-header-bar>
    <div class="title" ng-show="!authData">Login</div>
    
    <div class="title" ng-show="authData">
      Hello {{authData.displayName}}!
    </div>
    
  </ion-header-bar>
  <ion-content>
  <br>
  <br>
  <center><h2 style="border:2px solid black; width: 200px">Pheedback</h2></center>
  <br>
  <center><img src="img/pheedbackguy.png" style=" width:325px"></center>

  <br>

  <div ng-click="login()" ng-show="!authData" id="login">
    <center><img src="img/fb.png" style="width:250px"></img></center>
  </div>

  <div ng-show="authData" ng-click="savefbinfo()" target="_blank">
    <center><img src="img/enter.png" style="width:100px"></img></center>
  </div>

  </ion-content>
</ion-modal-view>